
snippet log
	console.log(${1});

snippet for
	for (var ${2:i} = 0, len = ${1:list}.length; $2 < len; $2${3:++}) {
		${4:$1[$2]}
	};

snippet if
	if (${1:true}) {
		${2}
	}

snippet f 
	function (${1}) {
		${2}
	};

snippet :f
	${1:method_name}: function (${2}) {
		${4}                                                                                                                                                                 
	}${3:,}
